html {
  font-family: Overpass, sans-serif;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  background-repeat: no-repeat;
  color: #fff;
}

svg {
  fill: #fff;
  stroke: rgba(255, 255, 255, 0);
}

.btn {
  border-color: rgba(255, 255, 255, .8);
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #ff5e3a;
  border-color: #fff;
}

.bubbles, .domes {
  border-bottom: 3px solid rgba(255, 255, 255, .6);
}

.bubbles, .domes, .stilts {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

@media only screen and (min-width: 60em) {

  .bubbles, .domes {
    border-bottom: 0;
    border-right: 3px solid rgba(255, 255, 255, .6);
  }

  .bubbles, .domes, .stilts {
    margin-left: 0;
    margin-right: 0;
  }

}
